<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  </head>
<body>
<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');
    height: 50vh;
  ">
  </div>
<!-- Background image -->
<div class="container-md" >
  <h2 class='text-center mt-4 mb-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded'>About Yash</h2>
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <p>
        Data, everything around us is filled with data and if not 100% it is going to be 
for sure in near future so here I am going to share my data with you in a hope
It will help you get some insights about me.
<br>
<br>
My name is Yash Bhairao. I have done Bachelors of Engineering from GHRCE, Nagpur
in a field of Electronics and Tele-communication, yeah it is not on the same patch 
of what I am doing right now but that's the scenario here Transform and Growth.
As a Data Analyst that's what I do transforming the data and visualizing it for 
better growth. One more feature is there that will help you analyzing me better,
Machine Learning which is basically using data for prediction.
<br>
        <br>
        
Last but not least, I love to write blog as they say in analytical field every bit 
of insight is important.

      </p>
    </div>
    <div class="col-sm text-center">
      <p>
        <img src="/static/aboutme.jpg" class="img-fluid" alt="Responsive image">
      </p>
    </div> 
    <style>
      .img-fluid {
        height: 400px;
      }
    </style>
    
<div class="container-md" >
  <h2 class='text-center mt-4 mb-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded'>My Experience</h2>
  {% include "timeline.html" %}
</div>
    


  
<div class="container-md" >
  <h2 class='text-center mt-4 mb-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded'>Get In Touch</h2>
  <div class='row'>
    <div class='col-sm'>
      <img src='/static/linkedin.svg' alt="" width="40" height="40"> linkedin
        </div>
    <div class='col-sm'>
      <img src='/static/linkedin.svg' alt="" width="40" height="40"> Medium
    </div>
      </div>
    </div>
  </div>
</div>
  
  

  
<div>
   {% include 'nav.html' %}
  {% include "footer.html" %}
</div>
  
  </body>
  </html>
  