<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <style>
      h1 {
        font-size: 40px;
        font-family: Cursive;
        font-weight: normal;
        color: rgb(0,100,0);
        text-align: center;
      }
      #banner {
        width: 50%;
        height: 120px;
        objet-fit: cover
      }
      h2 {
        font-size: 30px;
        font-family: Fantasy;
        font-weight: normal;
        color: rgb(125,225,80);
        text-align: center;        
      }

    
      
    </style>
  </head>
  <body>
    <div id="container" >
      <h1>Jovian Careers</h1>
        <img id="banner" src = 'https://jovian-career-website.yashbhairao.repl.co/static/banner.jpg'
        height='320'>
          <h2>About Jovian</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Etiam tempor orci eu lobortis. Leo vel orci porta non pulvinar neque laoreet. Ut etiam sit amet nisl purus in mollis nunc. Sit amet dictum sit amet justo.
            </p>
          <h2>Open Positions</h2>
            <p>TODO Show Jobs</p>
      <div style="text-align:center">
      <button>Contact Us</button>
      </div>
        </div>
  </body>
  
  
</html>