<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand float-start" href="/">
      <img src="static/Yash Bhairao.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      YB
    </a>

    <nav id="nav-menu-container">
      <ul class="nav">
        <li class="nav_links">
          <a href="/about">About</a>
          <a href="/portfolio">Portfolio</a>
          <a href="https://github.com/YB96" target="_blank">Repo</a>
          <a href="https://yb96.medium.com" target="_blank">Blog</a>
          <a href="static\Yash Bhairao Data Consultant CV.pdf" class="genric-btn primary-border circle" target="_blank">Resume</a>
        </li>
      </ul>
    </nav>
  </div>
</nav>





<style>
  /* Custom Styles */
  body {
    font-family: Arial, sans-serif;
  }

  .navbar {
    background-color: transparent;
    padding: 10px;
    color: #fff;
  }

  .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .navbar-brand img {
    margin-right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    display: inline-block;
    margin-right: 15px;
  }

  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }

  .nav-links a:hover {
    color: #ff7f50;
  }

  .spacer {
    height: 50px;
    background-color: #f8f9fa;
  }
</style>

