

<nav class="navbar shadow-sm fixed-top bg-warning-subtle">
  <div class="container-fluid">
    <a class="navbar-brand float-start" href="#">
      <img src="/static/c.jpeg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      YB
    </a>
    
    <nav id="nav-menu-container">
      <ul class='nav'>
        <li class="nav_links">
          <a href="/"> Home</a>
          <a href="/portfolio"> Portfolio</a>
          <a href="https://github.com/YB96"> Projects</a>
          <a href="https://yb96.medium.com"> Blog</a>
          <a href="/static/resume.pdf" class="genric-btn primary-border circle" target="_blank"> Resume</a>
        </li>
        
      </ul>

      
    </nav>
  </div>
  
</nav>
<div style="height:50px"></div>