<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
            <!-- styling projects seprator -->
    
<style>
  #seprator {
    height:5px;
    border-width:0;
    background-color: white;
  }
</style>

           <!-- styling image tag -->
    
    <style>
  .img-thumbnail {
    height:360px;
    width:100%;
    object-fit:cover;
    margin-bottom: 16px;
    margin-top: 16px;
    border-radius: 28px;
    background-color: blueviolet;
  
  }
</style>

  
    
  </head>

  
  <body>
<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');
    height: 50vh;
  ">
  
  </div>
<!-- Background image -->
<div>
   {% include 'nav.html' %}
</div>
            <!-- Projects --!>
     
    <!-- 1st Project -->
<div class="container">
  <h2 class='text-center mt-4 mb-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded'>Portfolio</h2>
  <div class="row">
    <div class="col">
    <a href ="https://jovian.com/yashchamp96/project-2-exploratory-data-analysis" target='_blank'>
      <img src="/static/olist.png" alt = 'extra' class="img-thumbnail"></a>
       </div>
    <div class='col'>
      <h3 class="proj text-capitalize">
        Exploratory Data Analysis on Brazilian E-Commerce Olist
      </h3>
        <p class="fw-light">
        This is a Brazilian ecommerce public dataset of orders made at Olist Store. The dataset has information of 100k orders from 2016 to 2018 made at multiple marketplaces in Brazil. Its features allows viewing an order from multiple dimensions: from order status, price, payment and freight performance to customer location, product attributes and finally reviews written by customers. It has also been included a geolocation dataset that relates Brazilian zip codes to Lat/Lng coordinates.<br>

Olist is a Brazilian departmental store (marketplace) that operates in e-commerce segment, but is not an e-commerce itself. It operates as a SaaS (Software as a Service) technology company since 2015. 
        </p>
    <h6 class="badge bg-light text-black mb-0">Python</h6>
    <h6 class="badge bg-light text-black mb-0">Matplotlib</h6>
    <h6 class="badge bg-light text-black mb-0">Folium</h6>
    <h6 class="badge bg-light text-black mb-0">Plotly</h6>
    <h6 class="badge bg-light text-black mb-0">Data Analysis</h6> 
    </div>
  </div>

<hr id="seprator">
 
    <!-- 2nd Project -->
    <div class="row">
    <div class="col">
    <a href='https://jovian.com/yashchamp96/course-project-on-breast-cancer' target="_blank">
      <img src="/static/breastcancer.png" class="img-thumbnail"> </a>
       </div>
    <div class='col'>
      <h3 class="proj text-capitalize">
        Exploratory Data Analysis and Visualization of Breast Cancer Data
      </h3>
        <p>
        This is an analysis of the Breast Cancer Wisconsin (Diagnostic) DataSet, obtained from Kaggle We are going to analyze it and to try several machine learning classification models to compare their results. The best model found is based on a neural network and reaches a sensibility of 0.984 with a F1 score of 0.984
        </p>
      <h6 class="badge bg-light text-black mb-0">Python</h6>
    <h6 class="badge bg-light text-black mb-0">Matplotlib</h6>
    <h6 class="badge bg-light text-black mb-0">Seaborn</h6>
    <h6 class="badge bg-light text-black mb-0">Data Analysis</h6> 
    </div>
  </div>

  <hr id="seprator">
  
  <!-- 3rd Project -->
    <div class="row">
    <div class="col">
    <a href='https://jovian.com/yashchamp96/project-web-scraping' target='_blank'>
      <img src="/static/flipkart.png" class="img-thumbnail"></a>
       </div>
    <div class='col'>
      <h3 class="proj text-capitalize">
        Web scraping Flipkart for iPhones using Python
      </h3>
        <p>
        Flipkart is one such eCommerce company that promotes online sales in India. It is not only for accessories, but for a wide range of other daily use items as well, that Flipkart remains as the leading choice of online shoppers. Flipkart, the most prominent eCommerce website in India and is empowering tons of Indian businesses to venture into the competitive online shopping industry. This multi-vendor website serves as the platform for vendors to display their product to the website’s visitors. It was initiated in 2007 and recently achieved a similar web ranking of 133 globally and 9th amongst the top Indian websites. Flipkart is the first eCommerce website in India that has reached the $1 billion mark.
        </p>
    <h6 class="badge bg-light text-black mb-0">Python</h6>
    <h6 class="badge bg-light text-black mb-0">Beautifulsoup</h6>
    <h6 class="badge bg-light text-black mb-0">Selenium</h6>
    <h6 class="badge bg-light text-black mb-0">Requests</h6>
    <h6 class="badge bg-light text-black mb-0">Web Scraping</h6> 
    </div>
  </div>

    <hr id="seprator">
  
  <!-- 4th Project -->
    <div class="row">
    <div class="col">
    <a href='https://jovian.com/yashchamp96/project-3-ml#C23' target="_blank">
      <img src="/static/bulldozer.jpg" class="img-thumbnail"> </a>
       </div>
    <div class='col'>
      <h3 class="proj text-capitalize">
        Bulldozer Price Prediction - RandomForestRegressor
      </h3>
        <p>
        Bulldozers are used in the construction sector for a variety of tasks including land clearing, dozing, handling scrap, and hauling other large construction equipment. In order to improve the quality of work, complete specific tasks with less human interference, and manage complex projects, a significant rate of adoption of technologically advanced equipment has been seen in the construction industry and this is expected to increase demand for dozers in the construction industry.

In this project, we will try to predict the sale price of bulldozer based on its usage, equipment type, and configuration.
        </p>
    <h6 class="badge bg-light text-black mb-0">Python</h6>
    <h6 class="badge bg-light text-black mb-0">Pandas</h6>
    <h6 class="badge bg-light text-black mb-0">Plotly</h6>
    <h6 class="badge bg-light text-black mb-0">Data Analysis</h6>
  <h6 class="badge bg-light text-black mb-0">Machine Learning</h6> 
<h6 class="badge bg-light text-black mb-0">RandomForestRegressor</h6>
    </div>
  </div>

 

</div>



    
  
<div>
   {% include 'nav.html' %}
  {% include "footer.html" %}
</div>

    
  </body>